# DATABASE
DB_URL=jdbc:mysql://localhost:3306/quiz_database?useSSL=false&serverTimezone=UTC
DB_USERNAME=root
DB_PASSWORD=root123

# SERVER
SERVER_PORT=8081

# JPA
JPA_DDL_AUTO=update
JPA_SHOW_SQL=true

# OLLAMA
OLLAMA_URL=http://localhost:11434/api/generate
OLLAMA_MODEL=llama3.2:3b